.searchbar {
  font-family: 'Mont_Light';  
  width: 100%;
  height: 250px;  
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  z-index: 50;
  
}

.searchbar__logo h2 {
  color: gray;
  font-size: 1.4rem;
  cursor: pointer;  
}

.searchBox{
  background-color: transparent;
  font-family: 'Mont_Medium';
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 5vh;
  width: 10vw;
}

.imageHeader {

  height: 25vh;  
}

.searchbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.searchbar__links > li {
  padding-left: 1.5rem;
}

.searchbar__links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.searchbar__links > li > p {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart__link > span {
  color: black;
}

.cart__link:hover {
  background: transparent;
}

.cart__link > i {
  color: black;
}

.cart__link {  
  background: transparent;
  padding: 10px;
  border-radius: 8px;
}


.cartlogo__badge {
  font-family: 'Mont_Bold';
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 8px;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.hamburger__menu {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu:hover > div {
  background: #dd219e;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background: #f4f4f4;
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }

  .hamburger__menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1rem;
  }
}
